
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=05a0c6969e1246bb231cfc20ff73e56c
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup